<div class="">
  {{myForm.value | json}}
  <form class="form-horizontal " novalidate [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class=" justify-content-center" style=" display:flex">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Reset Password</h3>
          </div>

          <div class="card-body">

            <div class="form-group">
              <label class="small mb-1" for="email">Your Email</label>
              <input class="form-control py-4 " [class.is-invalid]="validate('emailadress')" formControlName="emailadress"  placeholder="Email Address">
              <print-error [control]="myForm.get('emailadress')"></print-error>
              <!-- <div class="invalid-feedback">
                Please write Email
              </div> -->
            </div>


            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
              <input type="submit" class="btn btn-primary" value="Request">
            </div>

          </div>

          <div class="card-footer text-center">
            <a   routerLink="/login" href="">Login</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
